<div class="rounded bg-white border-gray-200 shadow-md overflow-hidden relative hover:shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700">
<a href="/blog/{{markdown_file}}" >
    {{#is_player_card}}
      <img class="h-32 sm:h-48 w-full object-cover" src="{{{image_url}}}" alt="{{title}}">
    
    {{/is_player_card}}
    {{#is_summary_image_card}}
      <img class="h-32 sm:h-48 w-full object-cover" src="{{{image_url}}}" alt="{{title}}">
    {{/is_summary_image_card}}
    <div class="m-4">
      <div class="flex justify-between">
        <span class="font-bold dark:text-white">{{title}}</span>
        {{#pub_date}}
        <span class="text-sm font-light dark:text-white">{{pub_date}}</span>
        {{/pub_date}}
      </div>
      <span class="block text-gray-500 text-sm">{{description}}</span>
    </div>
</a>
</div>
