<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
	
{{#metas}}
	{{#title}}
	  <title>{{title}}</title>
	  <meta name="og:title" content="{{title}}">
	  <meta name="twitter:title" content="{{title}}">
	{{/title}}

	{{#description}}
	  <meta name="description" content="{{description}}">
	  <meta name="og:description" content="{{description}}">
	  <meta name="twitter:description" content="{{description}}">
	{{/description}}
	

	{{#video}}
	  <meta name="twitter:card" content="player">
	  {{#youtubeID}}
	    <meta name="twitter:image" content="https://img.youtube.com/vi/{{{youtubeID}}}/0.jpg">
	    <meta name="twitter:player" content="https://www.youtube.com/embed/{{{youtubeID}}}">
		<meta name="twitter:player:width" content="360" />
        <meta name="twitter:player:height" content="200" />
      {{/youtubeID}}
	{{/video}}
	{{^video}}
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:image" content="https://{{{HOST_NAME}}}{{{image.src}}}">
      {{#alt}}
	  	<meta name="twitter:image.alt" content="https://{{{HOST_NAME}}}{{image.alt}}">
	  {{/alt}}
	{{/video}}

	

	{{#twitter_player_width}}
	  <meta property="twitter.player.width" content="{{twitter_player_width}}" />
	{{/twitter_player_width}}
	{{#twitter_player_height}}
	  <meta property="twitter.player.height" content="{{twitter_player_height}}" />
	{{/twitter_player_height}}

	{{#__PROJECT__.name}}
	  <meta property="twitter:site" content="{{__PROJECT__.name}}" />
	{{/__PROJECT__.name}}


	{{#og_type}}
	  <meta name="og:type" content="{{og_type}}" />
	{{/og_type}}
	
	{{^og_type}}
	  <meta name="og:type" content="article" />
	{{/og_type}}

	<meta name="og:url" content="https://{{{HOST_NAME}}}/blog/{{{DOC_NAME}}}">
	
	{{#image}}
	  <meta name="og:image" content="https://{{{HOST_NAME}}}{{{image.src}}}">
	{{/image}}

	
	
{{/metas}}

    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512"  href="/android-chrome-512x512.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
	<link rel="manifest" href="/public/images/site.webmanifest">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind-dark.min.css" integrity="sha512-5qCImO4bnvlpsqNsYuZEHlzJhEN3MBqd3GZp0QCJS0gVNq3Q+MT9Msw8c4UT2j5Cuq/29kz3jCmgYJpekNqSMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
 
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<link rel="stylesheet" href="/public/css/github-markdown.css">



<style>
	
	pre {
		tab-size: 4;
		counter-reset: linecounter;
		padding: 0;
		font-size: 16px;
		line-height: 16px;
	}
	pre span.line {
		counter-increment: linecounter;
		line-height: 16px;
	}
	pre span.line::before {
		content: counter(linecounter);
		width: 30px;
		display: inline-block;
		border-right: 1px dotted #ccc;
		padding-right: 3px;
		margin-right: 5px;
		text-align: left;
		font-size: 11px;
		line-height: 16px;
	}
</style>

<script type="text/javascript">
//for global variables
{{#meta_list}}
	var _meta_{{name}} = "{{value}}";
{{/meta_list}}

</script>

<script type="text/javascript">
	function addLineClass (pre) {
		var lines = pre.innerText.trim().split("\n"); // can use innerHTML also
		while(pre.childNodes.length > 0) {
			pre.removeChild(pre.childNodes[0]);
		}
		for(var i = 0; i < lines.length; i++) {
			var span = document.createElement("span");
			span.className = "line";
			span.innerText = lines[i]; // can use innerHTML also
			pre.appendChild(span);
			pre.appendChild(document.createTextNode("\n"));
			
			
		}
	}
	window.addEventListener("load", function () {
		var pres = document.querySelectorAll("pre > code ");
		for (var i = 0; i < pres.length; i++) {
			addLineClass(pres[i]);
		}
	}, false);
</script>


</head>

<body>
	{{{header_html}}}

    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
        {{{side_bar_html}}}

        <div class="relative w-full bg-gray-50 lg:ml-80 dark:bg-gray-900">
			
            <div x-data="{

                async toggle_like() {

                    let data = {
                        clazz: 'blog',
                        doc: '{{DOC_NAME}}',
                    };

                    let headers = {
						'Content-Type': 'application/json;charset=UTF-8',
						'Authorization': 'Bearer ' + this.my_account.token,
					};

					let config = {
                        method: 'post',
                        url: '/user/like',
                        data,
                        headers,
                    };

					this.loading = true;
					try {	
						await axios(config);

					} finally {
						let self = this;
						
						setTimeout(function(){
							self.loading = false;
							window.location.reload(true);
						}, 2000);
						
					}
                }
            }" class="pt-8 flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{{blog.image}}}" alt="Bonnie image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{blog.name}}</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">{{blog.description}}</span>
                <div class="flex items-center space-x-9">
                    
                    <button :class="loading && 'hidden' " @click="toggle_like" type="button" class="relative px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                            <path d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z"/>
                        </svg>
                        <span class="sr-only">Likes</span>
                        <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">{{likes_count}}</div>
                    </button>



                    <span class="relative bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                        messages
                        <span class="sr-only">comments</span>
                        <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">{{comments_count}}</div>
                    </span>
                    
                </div>
            </div>

            <div class="flex items-center">
                {{#likes_html}}
                    {{{likes_html}}}
                {{/likes_html}}
            </div>
            
            <div class="px-4 pt-6 markdown-body">
                {{{blog_content}}}
            </div>
            
            <div x-data="{
				current_comment_value: '',
				current_comment_id: null,

				async save_comment() {
					let data = {
						doc: '{{{DOC_NAME}}}',
						clazz: 'blog',
						value: this.current_comment_value,
					};

					
					if (this.current_comment_id) {
						data.id = this.current_comment_id;
					}


					let headers = {
						'Content-Type': 'application/json;charset=UTF-8',
						'Authorization': 'Bearer ' + this.my_account.token,
					};

					let config = {
						method: 'post',
						url: '/comment/save',
						data,
						headers,
					};

					this.loading = true;
					try {	
						await axios(config);

					} finally {
						let self = this;
						
						setTimeout(function(){
							self.loading = false;
							window.location.reload(true);
						}, 2000);
						
					}
				}
			}">
				<div class="flex flex-col items-end p-4 my-6 mx-4 bg-white rounded-lg shadow md:justify-between md:p-6 xl:p-8 dark:bg-gray-800">

					<label for="message" class="justify-self-start block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Message</label>
					<textarea x-model="current_comment_value" rows="4" class="block mb-2 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a comment..."></textarea>
					<div class="basis-1/4">
						<button :class="loading && 'hidden' " @click="save_comment" type="button" class="px-3 py-2 text-xs font-medium text-center text-gray-700 hover:bg-gray-100 dark:text-gray-300  dark:hover:text-white dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
					</div>
				</div>

				
				{{#comments_html}}
					{{{comments_html}}}
				{{/comments_html}}
			</div>
				
            

			{{{footer_html}}}	
        </div>
    </div>
	

</div>
</div>
</body>

</html>