<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<title>Products Overview &nbsp;|&nbsp; Pagwe Cloud</title>
    <meta name="og:title" content="Products Overview &nbsp;|&nbsp; Pagwe Cloud">
	<meta name="twitter:title" content="Products Overview &nbsp;|&nbsp; Pagwe Cloud">

    <meta name="description" content="This is the">
	<meta name="og:description" content="With Pagwe Cloud’s pricing and plans, you only pay for the services you use. No upfront costs. No termination fees.">
	<meta name="twitter:description" content="With Pagwe Cloud’s pricing and plans, you only pay for the services you use. No upfront costs. No termination fees.">
	
    <meta name="twitter:card" content="summary" />
	
    <meta name="og:type" content="article" />
	<meta name="og:url" content="https://www.pagwe.net/pricing">
	
    <link rel="icon" type="image/png" href="/public/images/favicon.png">
	 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
   

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind-dark.min.css" integrity="sha512-5qCImO4bnvlpsqNsYuZEHlzJhEN3MBqd3GZp0QCJS0gVNq3Q+MT9Msw8c4UT2j5Cuq/29kz3jCmgYJpekNqSMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
 
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <link rel="stylesheet" href="/public/css/github-markdown.css">
<style>
	
	pre {
		tab-size: 4;
		counter-reset: linecounter;
		padding: 0;
		font-size: 16px;
		line-height: 16px;
	}
	pre span.line {
		counter-increment: linecounter;
		line-height: 16px;
	}
	pre span.line::before {
		content: counter(linecounter);
		width: 30px;
		display: inline-block;
		border-right: 1px dotted #ccc;
		padding-right: 3px;
		margin-right: 5px;
		text-align: left;
		font-size: 11px;
		line-height: 16px;
	}
</style>



</head>


<body>
	{{{header_html}}}

    <div class="flex pt-16 bg-gray-50 dark:bg-gray-900">
        {{{side_bar_html}}}
        <div class="w-full lg:px-20 lg:ml-80">
            
            <div class="flex flex-wrap justify-center gap-10 p-5">
                
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-5">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Kick App</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        website url: <a href="https://kick.us.pagwe.net">https://kick.us.pagwe.net</a>
                        </p>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Kick is a task assignment and management application. It can run in Microsoft Teams and a web browser.
                        </p>
                        
                    </div>
                </div>
                
                <a href="/cookbook/free-wby.md">
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Free Wby Cloud[Raising fund USD$200]</h5>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            Donation Link: <a href="https://www.paypal.com/pools/c/93ulLrCTND">https://www.paypal.com/pools/c/93ulLrCTND</a>
                            </p>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            The Free Web Clould project helps users create web projects for free and run programs written in the wby language on github. Bind your own domain name to the project. The purpose of this project is to provide users with free cloud computing.
                            </p>
                            
                        </div>
                    </div>
                </a>

                

            </div>
        

            
			
	        {{{footer_html}}}	

        </div>
    </div>

</div>
</div>
</body>

</html>